.footer {
  height: 50px;
  background-color: #404258;
  display: flex;
    align-items: center;
  justify-content: center;
  border-top: 2px solid gray;
  color : gray;
}

.footerActive{
  background-color: white;
  border : none;
  *{
    color : black;
  }
}